<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Charm&amp;subset=latin-ext" rel="stylesheet">
<style type="text/css">{% capture style %}{% include style.scss %}{% endcapture %}{{ style | scssify }}</style>