<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Charm&amp;subset=latin-ext" rel="stylesheet">
<style type="text/css">{% capture style %}{% include style.scss %}{% endcapture %}{{ style | scssify }}</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127192488-1"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);};gtag('js',new Date());gtag('config','UA-127192488-1');</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-1402791844606432",enable_page_level_ads:true});</script>
