<!doctype html>
<html lang="tr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<style type="text/css">{% capture style %}{% include style.scss %}{% endcapture %}{{ style | scssify }}</style>
{% seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127192488-1"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-127192488-1');</script>
</head>
<body class="{{ page.class }}">
    <div class="site-wrapper">
        <header class="site-header outer" {% if page.class == 'home-template' %}style="background-image: url({{ site.image }})"{% endif %}>
            <div class="inner">
                {% if page.class == 'home-template' %}
                    <div class="site-header-content">
                        <h1 class="site-title">{{ site.title }}</h1>
                        <h2 class="site-description">{{ site.description }}</h2>
                    </div>
                {% endif %}
                <nav class="site-nav">
                    <div class="site-nav-left">
                        {% if page.class != 'home-template' %}
                            <a class="site-nav-logo" href="/">{{ site.title }}</a>
                        {% else %}
                            <ul class="nav" role="menu">
                                <li role="menuitem"><a href="/about">{{ site.str_about }}</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="site-nav-right">
                        <div class="social-links">
                            <a class="social-link" href="{{ site.facebook_page }}" target="_blank" rel="noopener">
                                <svg viewBox="0 0 24 24">
                                    <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"/>
                                </svg>
                            </a>
                            <a class="social-link" href="{{ site.instagram_page }}" target="_blank" rel="noopener">
                                <svg viewBox="0 0 24 24">
                                    <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"/>
                                </svg>
                            </a>
                            <a class="social-link" href="{{ site.youtube_page }}" target="_blank" rel="noopener">
                                <svg viewBox="2 2 20 20">
                                    <path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class="site-main outer">
            <div class="inner">
                {% if page.class == 'home-template' %}
                    <div class="post-feed">
                        {% for post in site.posts %}
                            <article class="post-card {{ page.class }} {% unless post.image %}no-image{% endunless %}">
                                {% if post.image %}
                                    <a class="post-card-image-link" href="{{ post.url }}">
                                        <div class="post-card-image" style="background-image: url({% include image.html page=post %})"></div>
                                    </a>
                                {% endif %}
                                <div class="post-card-content">
                                    <a class="post-card-content-link" href="{{ post.url }}">
                                        <header class="post-card-header">
                                            {% if post.tag %}
                                                <span class="post-card-tags">{{ post.tag }}</span>
                                            {% endif %}
                                            <h2 class="post-card-title">{{ post.title }}</h2>
                                        </header>
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                {% elsif page.class == 'error-template' %}
                    <section class="error-message">
                        <h1 class="error-code">404</h1>
                        <p class="error-description">{{ site.str_not_found }}</p>
                    </section>
                {% else %}
                    <article class="post-full {% unless page.image %}no-image{% endunless %}">
                        <header class="post-full-header">
                            <div class="post-full-meta">
                                {% if page.tag %}
                                    <a>{{ page.tag }}</a>
                                {% endif %}
                            </div>
                            <h1 class="post-full-title">{{ page.title }}</h1>
                        </header>
                        {% if page.image %}
                            <figure class="post-full-image" style="background-image: url({% include image.html page=page %})"></figure>
                        {% endif %}
                        <section class="post-full-content">
                            <div class="kg-card-markdown">
                                {{ content }}
                            </div>
                        </section>
                    </article>
                {% endif %}
            </div>
        </main>
        {% unless page.nosuggestions %}
            <aside class="read-next outer">
                <div class="inner">
                    <div class="read-next-feed">
                        {% if page.tag %}
                            <article class="read-next-card" style="background-image: url({{ site.image }})">
                                <header class="read-next-card-header">
                                    <small class="read-next-card-header-sitetitle">&mdash; {{ site.title }} &mdash;</small>
                                    <h3 class="read-next-card-header-title"><a>{{ page.tag }}</a></h3>
                                </header>
                                <div class="read-next-divider">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M13 14.5s2 3 5 3 5.5-2.463 5.5-5.5S21 6.5 18 6.5c-5 0-7 11-12 11C2.962 17.5.5 15.037.5 12S3 6.5 6 6.5s4.5 3.5 4.5 3.5"/>
                                    </svg>
                                </div>
                                <div class="read-next-card-content">
                                    <ul>
                                        {% for post in site.posts %}
                                            {% if post.tag == page.tag %}
                                                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </article>
                        {% endif %}
                        {% if page.next %}
                            <article class="post-card {{ page.next.class }} {% unless page.next.image %}no-image{% endunless %}">
                                {% if page.next.image %}
                                    <a class="post-card-image-link" href="{{ page.next.url }}">
                                        <div class="post-card-image" style="background-image: url({% include image.html page=page.next %})"></div>
                                    </a>
                                {% endif %}
                                <div class="post-card-content">
                                    <a class="post-card-content-link" href="{{ page.next.url }}">
                                        <header class="post-card-header">
                                            {% if page.next.tag %}
                                                <span class="post-card-tags">{{ page.next.tag }}</span>
                                            {% endif %}
                                            <h2 class="post-card-title">{{ page.next.title }}</h2>
                                        </header>
                                    </a>
                                </div>
                            </article>
                        {% endif %}
                        {% if page.previous %}
                            <article class="post-card {{ page.previous.class }} {% unless page.previous.image %}no-image{% endunless %}">
                                {% if page.previous.image %}
                                    <a class="post-card-image-link" href="{{ page.previous.url }}">
                                        <div class="post-card-image" style="background-image: url({% include image.html page=page.previous %})"></div>
                                    </a>
                                {% endif %}
                                <div class="post-card-content">
                                    <a class="post-card-content-link" href="{{ page.previous.url }}">
                                        <header class="post-card-header">
                                            {% if page.previous.tag %}
                                                <span class="post-card-tags">{{ page.previous.tag }}</span>
                                            {% endif %}
                                            <h2 class="post-card-title">{{ page.previous.title }}</h2>
                                        </header>
                                    </a>
                                </div>
                            </article>
                        {% endif %}
                    </div>
                </div>
            </aside>
        {% endunless %}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <div class="copyright"><a href="/">{{ site.title }}</a></div>
                <nav class="site-footer-nav">
                    <a href="/about">{{ site.str_about }}</a>
                    <a href="{{ site.facebook_page }}" target="_blank" rel="noopener">Facebook</a>
                    <a href="{{ site.instagram_page }}" target="_blank" rel="noopener">Instagram</a>
                    <a href="{{ site.youtube_page }}" target="_blank" rel="noopener">Youtube</a>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>
